<ion-view view-title="{{title}}" id="tour-view">
    <!--<ion-nav-buttons side="left">
      <a class="button button-clear" href="#/home" nav-clear>Print</a>
    </ion-nav-buttons>-->
    <ion-nav-buttons side="right">
      <a class="button button-clear" href="res/cv.pdf" nav-clear>PDF</a>
    </ion-nav-buttons>
  <ion-content>
    <ion-slide-box show-pager="true">
      <ion-slide>
        <img class="img-responsive center-in-tour-view" src="img/cv1.png">
      </ion-slide>
      <ion-slide>
        <img class="img-responsive center-in-tour-view" src="img/cv2.png">
      </ion-slide>
      <ion-slide>
        <img class="img-responsive center-in-tour-view" src="img/cv3.png">
      </ion-slide>
    </ion-slide-box>
    <div class='col-sm-12'>
      <!--<a class='btn btn-primary pull-left btn-sm' href="">Print</a>-->
      <a class='btn btn-primary pull-right btn-sm' href="res/cv.pdf">PDF</a>
    </div>
  </ion-content>
</ion-view>
